$red: #db4d4d;
$green: #62d146;

$background: #121418;
$background-light: #334050;
// $background-lighter: #25272c;

$background-secondary: #F2071B; // #f2c800

$text-color: #EEEEEE;
$text-color-secondary: #F2071B; // #f2c800

$serif: Georgia, serif;
$sans-serif: 'Montserrat', helvetica;
// $header-font: 'Rajdhani', arial;

$font-weight: 300;

$font-size-for-small: 24px;
$font-size-for-medium: 20px;

$line-height: 1.3;

$medium-screen: 1000px;

$space-small: 5px;
$space-normal: 10px;
$space-medium: 20px;
$space-large: 30px;
$space-larger: 40px;
$space-x-large: 50px;
$space-xx-large: 60px;